*{ margin:0; padding:0;}
body {font:16px/10 "张海山锐线体简", "微软雅黑";}
a { color:#333; text-decoration:none;}
a:hover { color:#F50; text-decoration:underline;}
.SubCategoryBox {width:600px; margin:0 auto; text-align:center;margin-top:40px; border:#999 dashed 1px; padding:10px;}
.SubCategoryBox ul { list-style:none;}
.SubCategoryBox ul li { display:block; float:left; width:200px; line-height:180%;}
.SubCategoryBox ul li i{ font-size:12px; color: #B7B7B7;}
.showmore { clear:both; text-align:center;padding-top:10px;}
.showmore a { display:block; width:120px; margin:0 auto; line-height:40px; border:1px solid #999;}
.showmore a:hover{ background:#F90; color:#FFF; text-decoration:none; border:1px solid #f90}
.showmore a span { padding-left:15px; background:url(../img/down.gif) no-repeat 0 3px;}
.promoted a { color: #F30;;}